/* @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

h1 {
    font-family: 'Tilt Prism', cursive;
} */

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid salmon;
    border-radius: 9px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.button-pink:hover {
    transition: 0.4s ease-in-out;
    background-color: rgb(255, 154, 220);
    color: black;
    border: 2px solid rgba(159, 0, 53, 0.887);
}

.button-grey:hover {
    transition: 0.4s ease-in-out;
    background-color: gold;
    border: 2px solid black;
    color: black;
}

.row {
    margin: 10px 0;
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 10px 22px;
    border: 2px solid salmon;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
}